@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-image: url("../img/background 1.png");
    background-size: cover;
}

.container{
    width: 1366px;
    height: 768px;
    margin: 15px auto;
}

.header{
    margin-left: 161px;
    width: 1028px;
}

.logo{
    margin-top: 46px;
    display: flex;
}
.logo_text{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 8px;
}
.image_logo {
display: flex;
}



.first_word{

    width: 140px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
.second_word{

    width: 135px;
    height: 21px;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    display: flex;


    color: #FFFFFF;

}
.image_logo{
    background-image: url("../img/logo 3.png");
    width: 53px;
    height: 47px;
}

 a {
    display: block;
    height: 100%;
    text-decoration: none;
    color:#FFFFFF;

}
 .email a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}
 .left_logo{
     display: flex;
 }
 .left_logo:hover a {
     color:#F26522;

 }
.left_logo:hover .image_logo {
    background-image: url("../img/logo 2.png");
}
 .image{
     display: block;
 }

 .email{
float: right;

 }
 .email:hover a{
     color: #F26522;

 }
 .phone{
     float: right;
     width: 146px;
     height: 21px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 18px;
     display: flex;
     align-items: center;
     color: #FFFFFF;
 }
 .phone:hover a{
     color: #F26522;
 }
 .contact{
     display: flex;
     flex-flow: column;
     align-items: flex-end;
     justify-content: space-between;
     margin-left: auto;
 }
 .cards {
     display: grid;
     grid-template-columns: repeat(3, 300px);
     grid-template-rows: repeat(2, 220px);
     grid-row-gap: 78px;
     grid-column-gap: 61px;
     margin-top: 22px;
     margin-left: 165px;
     text-align: center;

 }
 .details{
     width: 78px;
     height: 14px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 14px;
     display: flex;
     align-items: center;
     color: #FFFFFF;
 }
 .price{
     width: 36px;
     height: 14px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 20px;
     /* or 100% */

     display: flex;
     align-items: center;

     color: #FFFFFF;

 }
 .text_info{
     width: 22px;
     height: 14px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 10px;
     line-height: 10px;
     /* or 100% */

     display: flex;
     align-items: center;

     color: #FFFFFF;

 }
.description {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 18px;
     margin-top: 20px;
     color: #FFFFFF;

 }
 .photo {
     position:absolute;

 }


 .information{
     background-color: #F26522;
     width: 300px;
     height: 55px;
     position: relative;
     bottom:-220px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;

 }
.info{
    display: flex;
    flex-flow: column;
    height: 55px;
    width: 150px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.some_details{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    width: 110px;
    height: 30px;
    justify-content: space-around;
}
.image_card{
    width: 300px;
    height: 220px;
    z-index: 0;
}

.footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    width: 306px;
    height: 21px;
    color: #FFFFFF;
    clear: both;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
}
.window{
    width: 300px;
    height: 220px;
    overflow: hidden;
    z-index: 10;

}
.some_tours:hover .information{
    bottom:-165px;
    transition: 1s;
}
.some_tours:hover .descr {
    color: #F26522;
}
.arrow::after{
    content:url('../img/Vector%201.png');
}
